/* Laptop */
@media only screen and (max-width: 1439px) {
    .home-content h1 {
        font-size: 5rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-img img {
        width: 50vw;
    }

    section {
        padding: 7.5rem 9% 7.5rem;
    }

    .heading {
        font-size: 6rem;
    }

    .about-img img {
        width: 125vw;
    }
}

/* Tablet */
@media only screen and (max-width: 1023px) {
    .navbar {
        display: none;
    }

    #home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content, .about-content {
        margin-top: -3rem;
    }

    #about {
        flex-direction: column-reverse;
    }

    .home-img img, .about-img img {
        width: 35vw;
    }

    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Mobile L */
@media only screen and (max-width: 767px) {
    .home-img img, .about-img img {
        width: 40vw;
    }

    .home-content {
        margin-top: -5rem;
    }

    .heading {
        font-size: 5rem;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Mobile M */
@media only screen and (max-width: 575px) {
    .home-content h1 {
        font-size: 3.5rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1.5rem;
    }

    .home-img img, .about-img img {
        width: 50vw;
    }

    .heading {
        font-size: 4.5rem;
    }
}

/* Mobile S */
@media only screen and (max-width: 479px) {
    .logo {
        font-size: 2.5rem;
    }

    .home-content h1 {
        margin-top: 0rem;
    }
}